.about-section {
  position: relative;
}

.underline-shape {
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 8px;
  background: url("data:image/svg+xml,%3Csvg width='150' height='10' viewBox='0 0 150 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 5C40 0 110 10 150 5' stroke='%23E3002A' stroke-width='3'/%3E%3C/svg%3E")
    no-repeat center;
  background-size: cover;
}
